h1 Edit Project Name

h2 Common information

h3 Name
input(placeholder="Project name")

h3 Description
textarea

a.button(href="/") Save

h2 Collaborators

.collaborators
   .collaborators__item username
   .collaborators__item username
   .collaborators__item username
   .collaborators__item username
   .collaborators__item username

input(placeholder="username")
