h1 New Project

h2 Common information

h3 Name
input(placeholder="Project name")

h3 Description
textarea

h2 Collaborators

.collaborators
   .collaborators__item username
   .collaborators__item username
   .collaborators__item username
   .collaborators__item username
   .collaborators__item username

input(placeholder="username")

a.button(href="/") Create