@import '~Styles/_variables';

.stats {
   display: flex;
   flex-direction: row;
   margin: 0 0 $g3;

   &__item {
      padding: 10px 0 0 0;
      height: 80px;
      flex: 1 1 0;
      border: 2px solid var(--color-dark-blue);
      border-radius: $g4;
      border-radius: 32px 18px 32px 18px;

      margin-right: $g1;
      &:last-child {
         margin: 0;
      }

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: var(--color-lightdark-white);
   }

   &__value {
      font: {
         weight: 700;
         size: 40px;
      }
   }
   &__description {
      margin-top: $g05;
      text-transform: uppercase;
   }
}
