
h1 Dashboard

p Welcome to you dashboard. 

.collection.collection_row.collection_button
   a.button(href="/packages/create") Add pacakge
   a.button.button_blue(href="/projects/create") Create Project
   a.button(href="/profile/view") View Profile
   a.button(href="/docs") Read Docs


h1 Registry Search

.search.search_big
   label
      span User Packages
      input(type="text", name="search" placeholder="Search")

p Packages functionality is not released yet.

//- .list
//-    - var n = 0;
//-    while n < 4
//-       a.list__item(href="/package/package-name-" + n + "/view")
//-          .list__header
//-             .list__header-left
//-                .list__title= 'username/package-name-' + n++
//-             .list__header-right
//-                .list__labels.tags
//-                   .tag label
//-                   .tag label
//-                   .tag.tag_owner owner
//-                   .tag.tag_version v58.1.9632
//-          .list__description
//-             | Grant roident est duis duis sit occaecat ea eiusmod laboris mollit ullamco mollit nisi.


//- h1 Statistics

//- .stats
//-    .stats__item
//-       .stats__value 120 
//-       .stats__description Users
//-    .stats__item
//-       .stats__value 34 
//-       .stats__description Packages
//-    .stats__item
//-       .stats__value 203 
//-       .stats__description Projects

h1 Popular packages

p Packages functionality is not released yet.

//- .popular-packages(style="column-count: 4;")
//-    - n = 0;
//-    while n < 20
//-       | example <br>
//-       - n++
