h1 username/package-name

h2 Description
p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis accusamus voluptatibus commodi, libero fugiat explicabo delectus quam obcaecati voluptate expedita.

h3 Deprecated mode
input(type="checkbox") 
span is deprecated

h3 Repository
a(href="/") Github 
   i(class="fab github") github


h2 README

.notification.notification_error 
   | This module was declared as deprecated, you cannot use it as a new project dependency.

p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero repellat saepe iste debitis aliquam animi et. Et labore blanditiis praesentium rem sed officiis adipisci tenetur ducimus dignissimos assumenda dolorem dolores nesciunt nemo harum laboriosam quas, inventore iure debitis vel consequatur. Ipsum explicabo illum eaque. Nisi animi accusantium nobis blanditiis odit debitis quisquam ut dicta molestias voluptatum aspernatur assumenda maiores aperiam repudiandae placeat nam, voluptates nulla aliquid, minus totam distinctio. Molestias vel, ex sit accusamus tempore natus soluta voluptatem quod, nulla perspiciatis laboriosam voluptates odio rem et provident quis exercitationem voluptatum tenetur earum laudantium quae? Commodi architecto maiores ipsum illo voluptatem.