.drag-zone {
   grid-area: drag-zone;
   -webkit-app-region: drag;
   background-color: var(--color-dark-blue);
   display: flex;
   justify-content: flex-end;

   &__item {
      -webkit-app-region: no-drag;
      height: 38px;
      line-height: 36px;
      color: var(--color-light-white);

      &_user {
         padding: 0 20px;
         letter-spacing: 1px;

         font: {
            size: 12px;
            weight: 200;
         }
      }

      &_logotype {
         width: $g5;
         background: url('../resources/images/logotype.png') center center
            no-repeat;
         background-size: auto $g3;
      }
   }
}
