.drag-zone {
   grid-area: drag-zone;
   -webkit-app-region: drag;
   background: url('../resources/images/logotype.png') no-repeat 0 -71px;
   background-size: 90px;
   // background-color: var(--color-dark-blue);
   display: flex;
   justify-content: flex-end;

   &__item {
      -webkit-app-region: no-drag;
      height: 38px;
      line-height: 36px;

      &_logotype {
         width: $g5;
         background: url('../resources/images/logotype.png') left bottom no-repeat;
         background-size: 80px;
      }
   }
}
