main {
   grid-area: main;
   padding: $g5 $g10 $g10;
   // overflow-x: hidden;
   overflow-y: scroll;

   * {
      box-sizing: border-box;
   }
}
::-webkit-scrollbar {
   display: none;
}

#render_main > :first-child {
   margin-top: 0 !important;
}

#render_main > :last-child {
   margin-bottom: 0 !important;
}
