@import '../../../styles/variables.scss';

.profile {
   display: flex;

   &__info {
      flex: 0 0 auto;
      max-width: 240px;
      margin-right: $g5;
   }

   &__items {
      flex: 1 1 0;

      > :first-child {
         margin-top: 0;
      }
   }

   &__avatar {
      border-radius: 50%;
      width: 100%;
      border: 5px solid rgba(200, 200, 200, 0.2);
   }

   &__username {
      font-size: 1.5em;
      margin: $g2 0 $g1;
   }

   &__name {
      margin: $g1 0 $g1;
   }
}
