h1 Account Settings

.flex
   .column
      h2 Account information
      form#accountChangeData
         label 
            b Name
            input(type="text" value=name)#name
         label 
            b Username
            input(type="text" value=username)#username
         label 
            b E-mail
            input(type="text" value=email)#email
         //- label 
         //-    b Github
         //-    input(type="text")
         //- label 
         //-    b Twitter
         //-    input(type="text")
         input(type="submit", value="Save").button

   .column
      h2 Security
      form#accountChangePassword
         label 
            b Old Password
            input(type="password")#oldPass
         label 
            b New Password
            input(type="password")#newPass
         label 
            b Repeat New Password
            input(type="password")#newPassRepeat
         input(type="submit", value="Change password").button
