h1 Account Settings

h2 Account information

h3 Name
input(type="text")
h3 Username
input(type="text")
h3 E-mail
input(type="text")
h3 Github
input(type="text")
h3 Twitter
input(type="text")

a.button(href="") Save

h2 Security

h3 Old Password
input(type="text")
h3 New Password
input(type="text")
h3 Repeat New Password
input(type="text")

a.button(href="") Change