.sidebar__buttons
   .sidebar__button
      a(href="/default")
         i(class="fas plus") plus
      .sidebar__desc 
         | DEBUG: Router

.sidebar__buttons
   .sidebar__button
      a(href="/default")
         i(class="fas play") play
      .sidebar__desc 
         | DEBUG: Router

   .sidebar__button
      span(onclick="evodoc.getAPI().getAuth().signOut();")
         i(class="fas sign-out-alt") sign-out-alt
      .sidebar__desc Sign Out
      
      
