h1 User Projects
p User projects – all projects where user has an access.
a.button(href="/projects/create") Create Project

.search.search_big
   label
      span User Projects
      input(type="text", name="search" placeholder="Search")


.list
   - var n = 0;
   while n < 4
      a.list__item(href="/project/project-name-" + n + "/view")
         .list__header
            .list__header-left
               .list__title= 'username/project-name-' + n++
            .list__header-right
               .list__labels.tags
                  .tag.tag_owner owner
         .list__description
            | Grant roident est duis duis sit occaecat ea eiusmod laboris mollit ullamco mollit nisi.
