h1 About EvoDoc

p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque tempora tempore voluptates unde voluptatum sint quis, tenetur repudiandae, sit facilis ad sed laudantium ut! Ab illum maiores quis pariatur tempore esse iure iusto incidunt magni quisquam tempora dicta amet, minus assumenda, inventore tenetur beatae consectetur possimus. Autem iusto non velit ex illo expedita qui totam eius, nam ullam culpa! Neque dolores architecto corrupti possimus fuga, tenetur error voluptate! Quos minima repellat quod eum illo corporis vero impedit? Accusantium animi et itaque, aperiam consequatur vero sapiente porro quas molestiae recusandae, adipisci autem! Explicabo praesentium perspiciatis consectetur sapiente facere dicta nemo cum laudantium maxime molestias doloribus, aut amet velit sit, nam dolorum totam itaque quibusdam reiciendis voluptas esse quaerat enim ipsam vitae! Totam vitae eum laboriosam maxime harum, aliquam debitis! Doloremque at doloribus hic quia consectetur nostrum quasi ipsa officia quod suscipit.

p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque tempora tempore voluptates unde voluptatum sint quis, tenetur repudiandae, sit facilis ad sed laudantium ut! Ab illum maiores quis pariatur tempore esse iure iusto incidunt magni quisquam tempora dicta amet, minus assumenda, inventore tenetur beatae consectetur possimus. Autem iusto non velit ex illo expedita qui totam eius, nam ullam culpa! Neque dolores architecto corrupti possimus fuga, tenetur error voluptate! Quos minima repellat quod eum illo corporis vero impedit? Accusantium animi et itaque, aperiam consequatur vero sapiente porro quas molestiae recusandae, adipisci autem! Explicabo praesentium perspiciatis consectetur sapiente facere dicta nemo cum laudantium maxime molestias doloribus, aut amet velit sit, nam dolorum totam itaque quibusdam reiciendis voluptas esse quaerat enim ipsam vitae! Totam vitae eum laboriosam maxime harum, aliquam debitis! Doloremque at doloribus hic quia consectetur nostrum quasi ipsa officia quod suscipit.

h1 Developers

.about-cards
   .about-card
      h2 BI-SP1 / Summer Semester 2017-2018
      .about-card__body
         ul
            li Suchánek Marek Ing. – Leader
         ul
            li Sergey Dunaevskiy – Front end
            li Monika Nováková – Design
            li Daniel Hampl – Back end
            li Tomáš Starý – Back end

   .about-card
      h2 BI-SP1 / Winter Semester 2018-2019
      .about-card__body
         ul
            li Suchánek Marek Ing. – Leader
         ul
            li Sergey Dunaevskiy – Front end, Design
            li Daniel Hampl – Back end
            li Tomáš Starý – Back end
