h1 About EvoDoc

p EvoDoc is an abbreviation for evolvable documents. The whole project is developed within CTU FIT subjects Software project and Software engineering as an experiment to provide a better experience with writing of longer text documents such as documentations, theses, manuals, etc. 

p The main idea of the project is to organise documents into smaller parts – modules that could be repeatedly used in many parts of many papers, e.g. a license in different manuals.

h2 Source code
b Github
ul
   li 
      b GitHub Organization:
      | 
      u.link#about__organization Github.com/evo-doc
   li 
      b Back-End:
      | 
      u.link#about__backend Github.com/evo-doc/backend
   li 
      b Front-End desktop macOS/linux/windows client:
      | 
      u.link#about__frontend_desktop Github.com/evo-doc/client-desktop

p All developer documentations are available at GitHub repositories. 

h1 Developers

.about-cards
   .about-card
      h2 BI-SP1 / Summer Semester 2017-2018
      .about-card__body
         ul
            li 
               b Suchánek Marek Ing. – Leader
            li Sergey Dunaevskiy – Front end
            li Monika Nováková – Design
            li Daniel Hampl – Back end
            li Tomáš Starý – Back end

   .about-card
      h2 BI-SP2 / Winter Semester 2018-2019
      .about-card__body
         ul
            li
               b Suchánek Marek Ing. – Leader
            li Sergey Dunaevskiy – Front end, Design
            li Daniel Hampl – Back end
            li Tomáš Starý – Back end
