.img {
   background-size: contain;
   background-position: center center;
   background-color: var(--color-light-white);
   border: 24px solid var(--color-light-white);
   background-repeat: no-repeat;
   min-height: 200px;
}
.img_big {
   min-height: 400px;
}
.img_docs- {
   &interface {
      background-image: url('./img/interface.png');
   }
   &project_create {
      background-image: url('./img/project_create.png');
   }
   &project_list {
      background-image: url('./img/project_list.png');
   }
   &project_view {
      background-image: url('./img/project_view.png');
   }
   &module_create {
      background-image: url('./img/module_create.png');
   }
   &module_create {
      background-image: url('./img/module_create.png');
   }
   &module_view {
      background-image: url('./img/module_view.png');
   }
}
