- var project = "/project/" + projectName + "/view";

h1 
   a(href=project) Project Name
   | 
   | / Module Name

.tags
   .tag Tags
   .tag Are
   .tag Awesome

h2 ## Markdown text

p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit minus distinctio atque non sapiente voluptas veniam, ipsa optio quisquam! Modi quidem placeat voluptate dicta pariatur tempora eum, doloribus qui reiciendis veniam! Maiores nobis quia, ducimus quaerat id animi minus voluptatum quas sit eligendi nemo eos quo voluptatem illo perspiciatis nulla in, asperiores odit expedita velit perferendis nisi laudantium? Ab aperiam velit non quidem voluptatibus sed dolorem ex. Consequuntur quod nisi vero qui consectetur sequi laudantium aut, deleniti impedit ut voluptates recusandae? Corrupti ducimus veritatis culpa dignissimos in cupiditate fugiat doloribus, commodi voluptatibus at officia facilis reprehenderit nemo illum animi repudiandae ipsam labore temporibus eveniet consequuntur aliquid saepe veniam magni. Odit totam, ad necessitatibus fugit, esse consequuntur beatae temporibus iste illum minima ab debitis mollitia nesciunt quae eaque. Neque, aut tenetur!

h2 ## Header

p Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi asperiores quis quod molestiae eveniet rerum incidunt similique, reprehenderit et voluptatem blanditiis eligendi dignissimos obcaecati in, accusamus suscipit. Autem at odit facere ab, officia dolorem incidunt sed provident consequatur tempore illo.


h1 Project Name 

p Description. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum maiores provident sit vitae qui odit eligendi inventore ipsam minima optio.

h1 Status
.module-status.module-status_free free to edit