.authorization
   .authorization__form
      form#authorization__form_signup
         input#authorization__signup_username(placeholder="Username").input_auth
         input#authorization__signup_email(placeholder="Email").input_auth
         input#authorization__signup_password(type="password" placeholder="Password").input_auth
         .authorization__passvalidity
         button(type="submit") Sign Up

   .authorization-change
      a(href="/auth/signin") Already registered? Sign In!
