.authorization
   .authorization__form
      form 
         input(type="text" placeholder="Username")
         input(type="email" placeholder="Email")
         input(type="password" placeholder="Password")
         button(type="submit") Sign Up

      a(href="/") HOME
      a(href="/error/400") 400
