.search {
   // border: 1px inset var(--color-light-gray);

   border-radius: 50px;
   height: $g5;
   overflow: hidden;
   margin: $g5 0;
   // margin: $g4 0;

   label {
      display: flex;
   }

   span {
      background-color: var(--color-dark-blue);
      display: block;
      flex: 0 0 auto;
      padding: 0 $g2 0 $g3;
      color: white;
      line-height: 41px;
      text-transform: uppercase;
   }

   input {
      background-color: #e3f3f9a1;
      // border: 2px solid #aadcf1;
      border-left: 0;
      // background-color: var(--color-light-gray);
      // border-radius: 0 38px 18px 0;
      height: 40px;
      display: block;
      flex: 1 1 0;
      box-shadow: none;
      // border-radius: 0;
      font-weight: 200;
   }
   ::placeholder {
      color: gray;
   }
}
