// -------------------------------------------------------------------------------------------------
// Headers
// -------------------------------------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: $g5 0;
}

h1 {
   font: {
      weight: 600;
      size: 28px;
   }

   margin: $g5 0 $g3;
   min-height: 40px;
   line-height: 40px;
}

h2 {
   font: {
      weight: 400;
      size: 20px;
   }

   margin: $g5 0 $g2;
}

h3 {
   font: {
      weight: 700;
      size: 18px;
   }

   margin: $g3 0 $g1;
}

// -------------------------------------------------------------------------------------------------
// Text
// -------------------------------------------------------------------------------------------------

p {
   margin: $g2 0;
}

ul,
ol {
   margin: 0;
}

.img {
   margin: $g4 0;
}
