.sidebar__buttons
   .sidebar__button
      a(href="/default")
         i(class="fas play") play
   .sidebar__button
      a(href="/")
         i(class="fas home") home
   .sidebar__button
      a(href="/error/400") 
         i(class="fas fa-times")
   .sidebar__button
      a(href="/auth/signin")
         i(class="fas sign-in-alt") sign-in-alt
   .sidebar__button
      a(href="/auth/signup")
         i(class="fas fingerprint") fingerprint

.sidebar__buttons
   .sidebar__button
      a(href="/profile/view")
         i(class="fas user") user
