.sidebar__buttons
   .sidebar__button
      a(href="/")
         i(class="fas") tachometer-alt
      .sidebar__desc Dashboard
   .sidebar__button
      a(href="/projects/view") 
         i(class="fas") briefcase
      .sidebar__desc Projects
   .sidebar__button
      a(href="/docs")
         i(class="fas") file-contract
      .sidebar__desc Documentation
   .sidebar__button
      a(href="/about")
         i(class="fas") question
      .sidebar__desc About

.sidebar__buttons
   .sidebar__button
      a(href="/profile/view")
         i(class="fas user") user
      .sidebar__desc Account
