h1 Edit module


form#editModule
   h3 Name (a-Z0-9_-)
   p A name of your new module. E.g. "project-module-name"
   input#moduleName(placeholder="project-module-name" value=module.name)

   h3 Description
   p A short module description. Will be displayed e.g. at module lists.
   textarea#moduleDesc(placeholder="Short description") #{module.description}

   .flex
      .column
         h3 Dependency
         select#moduleDep
            option(value="package" disabled) Package
            option(value="independent") Independent
      
      .column

         h3 Type
         select#moduleType
            option(value="plain") Plaintext
            option(value="markdown") Markdown
            option(value="html") HMTL
            option(value="latex") LaTeX

   h3 Text
   textarea#moduleText(placeholder="Short description") #{module.content.body}

   input(type="submit", value="Edit").button