doctype html
html
   head
      meta(charset="utf-8")
      title EvoDoc
      //- meta(http-equiv="Content-Security-Policy" content="default-src 'self'")
   
   body
      .layout
         .drag-zone
            .drag-zone__item.drag-zone__item_user#username Charlotte White
            .drag-zone__item.drag-zone__item_logotype
         nav.sidebar.sidebar_left
            include /components/sidebar-left/index.pug
         main#render_main
         aside.sidebar.sidebar_information
         nav.sidebar.sidebar_right
            include /components/sidebar-right/index.pug
      
      .loader#loader
         .loader__inner
         .sk-folding-cube
            .sk-cube1.sk-cube
            .sk-cube2.sk-cube
            .sk-cube4.sk-cube
            .sk-cube3.sk-cube