html
   head
      meta(charset="utf-8")
      title EvoDoc
      //- meta(http-equiv="Content-Security-Policy" content="default-src 'self'")
   
   body
      .layout
         .drag-zone
            .drag-zone__item.drag-zone__item_user Charlotte White
            .drag-zone__item.drag-zone__item_logotype
         nav.sidebar.sidebar_left
         main
            h1 Example
            i(class="fab fa-apple")
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, modi praesentium? Quisquam dicta debitis nemo ipsum amet sapiente fugit deleniti accusamus quibusdam, qui cumque delectus consequuntur distinctio neque. Aliquam distinctio ipsum nemo rerum, officia reiciendis maiores laudantium in minus! Suscipit cum hic sint impedit! Quaerat quasi mollitia ipsam libero! Itaque id sapiente neque ipsum molestiae officiis illo, nisi dolores, in repellat laborum quisquam dolorem possimus dicta beatae dolorum rem facilis, officia quos quidem fuga! Dolore provident, error optio ducimus atque nihil recusandae nemo, voluptatem, obcaecati officiis saepe molestias sint. Eius tempora doloribus, quod blanditiis similique perferendis facilis fuga eligendi consequuntur.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, modi praesentium? Quisquam dicta debitis nemo ipsum amet sapiente fugit deleniti accusamus quibusdam, qui cumque delectus consequuntur distinctio neque. Aliquam distinctio ipsum nemo rerum, officia reiciendis maiores laudantium in minus! Suscipit cum hic sint impedit! Quaerat quasi mollitia ipsam libero! Itaque id sapiente neque ipsum molestiae officiis illo, nisi dolores, in repellat laborum quisquam dolorem possimus dicta beatae dolorum rem facilis, officia quos quidem fuga! Dolore provident, error optio ducimus atque nihil recusandae nemo, voluptatem, obcaecati officiis saepe molestias sint. Eius tempora doloribus, quod blanditiis similique perferendis facilis fuga eligendi consequuntur.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, modi praesentium? Quisquam dicta debitis nemo ipsum amet sapiente fugit deleniti accusamus quibusdam, qui cumque delectus consequuntur distinctio neque. Aliquam distinctio ipsum nemo rerum, officia reiciendis maiores laudantium in minus! Suscipit cum hic sint impedit! Quaerat quasi mollitia ipsam libero! Itaque id sapiente neque ipsum molestiae officiis illo, nisi dolores, in repellat laborum quisquam dolorem possimus dicta beatae dolorum rem facilis, officia quos quidem fuga! Dolore provident, error optio ducimus atque nihil recusandae nemo, voluptatem, obcaecati officiis saepe molestias sint. Eius tempora doloribus, quod blanditiis similique perferendis facilis fuga eligendi consequuntur.
         aside.sidebar.sidebar_information
         nav.sidebar.sidebar_right
      
      .loader