.authorization
   .authorization__form
      form#authorization__form
         input(type="text" placeholder="Login").input_auth
         input(type="password" placeholder="Password").input_auth
         button(type="submit") Sign In

         a(href="/") HOME
