h1 #{project.name}
//- .search.search_big
//-    label
//-       span Modules
//-       input(type="text", name="search" placeholder="Search")



.list
   if(modules.length === 0)
      | You have no modules. Maybe you want to 
      a(href="/project/" + projectId + "/modules/create") create
      |
      | some?
   else
      - var n = 0;
      while n < modules.length
         a.list__item(href="/project/" + projectId + "/module/" + modules[n].id + "/view")
            .list__header
               .list__header-left
                  .list__title
                     | #{modules[n].name}
               .list__header-right
                  //- .list__labels.tags
                  //-    if(modules[n][1] === true)
                  //-       .tag.tag_owner owner
                  //-    else 
                  //-       .tag.tag_access access

            .list__description
               | #{modules[n].description}
         - n++
